*/.idea
*/*/Projector.Monitoring/bin
*/*/Projector.Monitoring/obj
*/*/Projector.DSA/bin
*/*/Projector.DSA/obj
# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Projector.Monitoring.iml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/homework4/Projector.StressTesting/.idea/.idea.Projector.StressTesting/.idea/indexLayout.xml
/homework4/Projector.StressTesting/.idea/.idea.Projector.StressTesting/.idea/projectSettingsUpdater.xml
/homework4/Projector.StressTesting/.idea/.idea.Projector.StressTesting/.idea/workspace.xml
/homework4/Projector.StressTesting/.idea/.idea.Projector.StressTesting/.idea/vcs.xml

/homework17/Projector.DSA/.idea/.idea.Projector.DSA/.idea/*
homework10/src/Projector.Queue/.idea/.idea.Projector.Queue/.idea/*
homework10/src/Projector.Queue/Projector.Queue/obj/*
homework10/src/Projector.Queue/Projector.Queue/bin/*
